In [802]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [803]:
df = pd.read_csv("Datasets/WineQualityReds.csv")

In [804]:
df.head()

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [805]:
df.shape

(1599, 13)

In [806]:
df.isnull().values.any()

False

In [807]:
 df.isnull().sum()

Unnamed: 0              0
fixed.acidity           0
volatile.acidity        0
citric.acid             0
residual.sugar          0
chlorides               0
free.sulfur.dioxide     0
total.sulfur.dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [829]:
df.isnull()

,facidity,vacidity,cacid,rsugar,chlorides,sdioxide,tsdioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [808]:
df.drop(['Unnamed: 0'], axis='columns', inplace=True)

In [809]:
df.rename(columns = {'fixed.acidity': 'facidity', 'volatile.acidity': 'vacidity',
                     'citric.acid':'cacid','total.sulfur.dioxide':'tsdioxide',
                     'residual.sugar':'rsugar','free.sulfur.dioxide':'sdioxide'}, inplace = True)

In [810]:
df.head()

,facidity,vacidity,cacid,rsugar,chlorides,sdioxide,tsdioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [811]:
df.dtypes

facidity     float64
vacidity     float64
cacid        float64
rsugar       float64
chlorides    float64
sdioxide     float64
tsdioxide    float64
density      float64
pH           float64
sulphates    float64
alcohol      float64
quality        int64
dtype: object

In [812]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   facidity   1599 non-null   float64
 1   vacidity   1599 non-null   float64
 2   cacid      1599 non-null   float64
 3   rsugar     1599 non-null   float64
 4   chlorides  1599 non-null   float64
 5   sdioxide   1599 non-null   float64
 6   tsdioxide  1599 non-null   float64
 7   density    1599 non-null   float64
 8   pH         1599 non-null   float64
 9   sulphates  1599 non-null   float64
 10  alcohol    1599 non-null   float64
 11  quality    1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [813]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[["facidity"]] = scaler.fit_transform(df[["facidity"]])
df[["vacidity"]] = scaler.fit_transform(df[["vacidity"]])
df[["cacid"]] = scaler.fit_transform(df[["cacid"]])
df[["rsugar"]] = scaler.fit_transform(df[["rsugar"]])
df[["chlorides"]] = scaler.fit_transform(df[["chlorides"]])
df[["sdioxide"]] = scaler.fit_transform(df[["sdioxide"]])
df[["tsdioxide"]] = scaler.fit_transform(df[["tsdioxide"]])
df[["pH"]] = scaler.fit_transform(df[["pH"]])
df[["sulphates"]] = scaler.fit_transform(df[["sulphates"]])
df[["alcohol"]] = scaler.fit_transform(df[["alcohol"]])
df[["quality"]] = scaler.fit_transform(df[["quality"]])

In [814]:
df.head()

,facidity,vacidity,cacid,rsugar,chlorides,sdioxide,tsdioxide,density,pH,sulphates,alcohol,quality
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.9978,0.606299,0.137725,0.153846,0.4
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.9968,0.362205,0.209581,0.215385,0.4
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.9970,0.409449,0.191617,0.215385,0.4
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.9980,0.330709,0.149701,0.215385,0.6
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.9978,0.606299,0.137725,0.153846,0.4

In [815]:
for col in df.columns:
    print(col)

facidity
vacidity
cacid
rsugar
chlorides
sdioxide
tsdioxide
density
pH
sulphates
alcohol
quality

In [816]:
X = df.drop('quality', axis='columns')
X.head()

,facidity,vacidity,cacid,rsugar,chlorides,sdioxide,tsdioxide,density,pH,sulphates,alcohol
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.9978,0.606299,0.137725,0.153846
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.9968,0.362205,0.209581,0.215385
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.9970,0.409449,0.191617,0.215385
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.9980,0.330709,0.149701,0.215385
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.9978,0.606299,0.137725,0.153846

In [817]:
Y =df['quality']
Y.head()

0    0.4
1    0.4
2    0.4
3    0.6
4    0.4
Name: quality, dtype: float64

In [818]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [819]:
X_train.head(10)

,facidity,vacidity,cacid,rsugar,chlorides,sdioxide,tsdioxide,density,pH,sulphates,alcohol
1146,0.283186,0.260274,0.12,0.061644,0.277129,0.070423,0.053004,0.99600,0.425197,0.323353,0.215385
807,0.318584,0.109589,0.40,0.102740,0.066778,0.042254,0.014134,0.99356,0.464567,0.221557,0.676923
797,0.415929,0.171233,0.44,0.047945,0.043406,0.281690,0.127208,0.99526,0.393701,0.287425,0.369231
24,0.203540,0.191781,0.14,0.102740,0.121870,0.281690,0.120141,0.99680,0.543307,0.179641,0.200000
725,0.389381,0.369863,0.17,0.143836,0.108514,0.056338,0.024735,0.99760,0.433071,0.131737,0.307692
550,0.194690,0.267123,0.01,0.082192,0.103506,0.112676,0.067138,0.99580,0.464567,0.137725,0.169231
356,0.610619,0.198630,0.52,0.143836,0.113523,0.394366,0.173145,1.00010,0.409449,0.329341,0.400000
758,0.309735,0.513699,0.00,0.089041,0.120200,0.126761,0.088339,0.99656,0.401575,0.101796,0.215385
1588,0.230088,0.369863,0.33,0.109589,0.093489,0.464789,0.339223,0.99414,0.417323,0.269461,0.676923
645,0.283186,0.356164,0.10,0.349315,0.171953,0.056338,0.017668,0.99840,0.496063,0.215569,0.261538

In [820]:
y_train.head()

1146    0.6
807     0.8
797     0.8
24      0.6
725     0.4
Name: quality, dtype: float64

In [821]:
model = LinearRegression()

In [822]:
model.fit(X_train,y_train)

LinearRegression()

In [823]:
y_pred=model.predict(X_test)

In [824]:
from sklearn.metrics import accuracy_score

In [825]:
model.score(X_test, y_test)

0.30618107084988166

In [826]:
model.coef_

array([ 0.01341902, -0.33692052, -0.0336271 ,  0.00772503, -0.21394313,
        0.06057068, -0.1950862 , -0.78947839, -0.11397105,  0.29700157,
        0.38156522])

In [827]:
model.intercept_

1.3297529994518262